* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  padding: 0 !important;
  margin: 0 !important;
  position: relative !important;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.MuiTooltip-tooltip {
  font-size: 10px !important;
  font-weight: 600 !important;
}

.MuiTypography-root {
  font-family: inherit !important;
}

.Mui-root.Mui-checked {
  color: var(--blue) !important;
}

.not-found-img {
  width: 40% !important;
  min-width: 250px !important;
  height: auto !important;
}

/* White cards css started */
.table-card {
  background-color: var(--white) !important;
  border-radius: 6px !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px !important;
  padding: 10px !important;
}

.dropzone {
  border: 2px dashed #bdbfc1 !important;
  padding: 45px 25px !important;
  padding-bottom: 20px !important;
  border-radius: 18px !important;
  background-color: transparent !important;
  cursor: pointer !important;
  margin-bottom: 10px !important;
}
.dropzone-error {
  border: 2px dashed red !important;
  padding: 45px 25px !important;
  padding-bottom: 20px !important;
  border-radius: 18px !important;
  background-color: transparent !important;
  cursor: pointer !important;
  margin-bottom: 10px !important;
}
.dropzone-content {
  height: 250px !important;
}
.pdfimg {
  width: 80px !important;
  height: auto !important;
}

/* Dashboard Details Page CSS Started */
.dashboard-card {
  background-color: var(--white) !important;
  border-radius: 6px !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px !important;
  padding: 8px !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.dashboard-card .ico-bx {
  background-color: #f2ebda !important;
  color: var(--light-secondary) !important;
  height: 60px !important;
  width: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
  display: grid !important;
  place-items: center !important;
  border-radius: 4px !important;
}

.dashboard-card .ico-bx .MuiSvgIcon-root {
  font-size: 32px !important;
}

/* Media Queries */
@media (max-width: 550px) {
  #page-heading-section.fx_sb {
    display: block !important;
  }
  #page-heading-section .fx_fe {
    margin-top: 8px !important;
    display: block !important;
  }
  #page-heading-section .table-search {
    margin-top: 8px !important;
  }
  #page-heading-section .table-search .MuiFormControl-root {
    width: 100% !important;
  }

  #tb_footer {
    display: block !important;
  }
  .mob_block{
    display: block !important;
  }
}

/* File Verification Table */
.fx_height {
  height: calc(100vh - 380px) !important;
  overflow: auto !important;
}
.doc-preview {
  background-color: #d9d9d9 !important;
  padding: 8px !important;
}

.sticky-select {
  position: sticky !important;
  top: 0px !important;
  display: flex !important;
  justify-content: flex-end !important;
}

.sticky-select .MuiSelect-outlined {
  background-color: var(--white) !important;
  padding: 3px 10px !important;
  padding-right: 20px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

.white-card {
  background-color: var(--white) !important;
  padding: 20px !important;
  border-radius: 16px !important;
}

/* Small Dropzone */
.small-dropzone .dropzone {
  border: 2px dashed #bdbfc1 !important;
  padding: 15px 20px !important;
  padding-bottom: 20px !important;
  border-radius: 18px !important;
  background-color: transparent !important;
  cursor: pointer !important;
  margin-bottom: 10px !important;
}
.small-dropzone .dropzone-content {
  height: auto !important;
}
.small-dropzone .pdfimg {
  width: 40px !important;
  height: auto !important;
}

.small-dropzone .dropzone-content .MuiTypography-root {
  font-size: 13px !important;
  line-height: normal !important;
}
.small-dropzone .dropzone-content .gray {
  margin-top: -16px !important;
}

.approval .fx_height {
  height: calc(100vh - 460px) !important;
  overflow: auto !important;
}


.menu-items{
  font-size: 13px !important;
  line-height: normal !important;
}