#confirmation-dialog .MuiPaper-root {
  border-radius: 8px !important;
  padding: 20px !important;
}

#confirmation-dialog .dialog-icon {
  text-align: center !important;
}

.primary-action-button {
  font-size: 13px !important;
  line-height: normal !important;
  text-transform: none !important;
  border: 2px solid var(--primary) !important;
  background-color: var(--primary) !important;
  color: #ffffff !important;
  padding: 8px 20px !important;
  min-width: 100px !important;
}

.secondary-action-button {
  font-size: 13px !important;
  line-height: normal !important;
  text-transform: none !important;
  border: 2px solid var(--light-secondary) !important;
  background-color: var(--light-secondary) !important;
  color: var(--white) !important;
  padding: 8px 20px !important;
  min-width: 100px !important;
}


.no-shadow{
  box-shadow: none !important;
}